NEXT_PUBLIC_SITE_URL=https://atlasproibofficiel.com

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL="Atlasproibofficiel <support@atlasproibofficiel.com>"
RESEND_FROM="Atlasproibofficiel <support@atlasproibofficiel.com>"

# Admin Notifications
ADMIN_EMAILS="jasonhomehome@gmail.com, proatlas12@gmail.com"

# Cron
CRON_SECRET=
